@import 'src/styles/variables';

.Toast {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 300px;
  min-height: 50px;
  padding: 10px 20px;
  color: $white;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;

  &.--success {
    background-color: $success-bg;
  }

  &.--error {
    background-color: $danger-bg;
  }
}
