@import 'src/styles/variables';

.button {
  text-transform: uppercase;
  min-width: 100px;
  max-width: 100%;
  padding: 10px 20px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid $white;
  color: $white;
  background-color: $dark-bg;

  &.button--danger {
    border-color: $danger-bg;
    background-color: $danger-bg;
  }

  &.button--success {
    border-color: $success-bg;
    background-color: $success-bg;
  }
}
