@import 'src/styles/variables';

.App {
  height: 100vh;
  width: 100%;
  background-color: $dark-bg;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App__content {
  width: 60%;
}

.App__title {
  color: $white;
  text-align: center;
}

.App__words-count {
  color: $white;
  text-align: center;
}
