@import 'src/styles/variables';

.Actions {
  visibility: hidden;

  &.--loaded {
    visibility: unset;
  }

  .Actions__add-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;

    .success {
      color: $success;
    }

    .danger {
      color: $danger;
    }
  }
}
